body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.canvas {
  margin-top: 50px;
  width: 600px;
  height: 600px;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controlColors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.controlColor {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controlButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.buttonCss {
  background-color: whitesmoke;
  border: none;
  outline: none;
  margin-left: 3px;
  margin-right: 3px;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  color: #535c68;
  font-size: 15px;
}

.controlButton button:active {
  transform: scale(0.95);
}

.range {
  margin-top: 30px;
}
